<footer>
    <ul class="li">mandela-1</ul>
    <ul class="li">mandela-2</ul>
    <ul class="li">mandela-2</ul>
    <ul class="li">mandela-2</ul>
    <ul class="li">mandela-3</ul>
    <ul class="li">mandela-4</ul>
    <ul class="li">mandela-5</ul>
</footer>